.chat-main
  .chat-main__group-info
    .chat-main__group-info__overview
      .chat-main__group-info__overview__name
        = @group.name
      .chat-main__group-info__overview__member
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__edit
      = link_to  "Edit", edit_group_path(current_user), class:"chat-main__group-info__edit__btn" 

  .messages
    = render @messages
    
  .form
    = form_for [@group, @message], html: { class: 'display'} do |f|
      .form__input-box
        = f.text_field :content, class: 'form__input-box__message', placeholder: 'type a message'
        = f.label :image, class: 'form__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form__input-box__image__btn'
      .form__submit-box
        = f.submit 'Send', class: 'form__submit-box__btn'